<div class="breadcrumb-area breadcrumb-height bg-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12">
                <div class="breadcrumb-item">
                    <h1 class="breadcrumb-heading text-white">BookStore</h1>
                    <ul>
                        <li>
                            <a class="text-white" href="/">Tài khoản <i class="text-white pe-7s-angle-right"></i></a>
                        </li>
                        <li class="text-white">THÔNG TIN TÀI KHOẢN</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
